/* calculator stylesheet */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  width: auto;
  height: 100vh;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 24px;
  border: 1px black solid;
  padding: 12px 20px;
  min-width: 70px;
  min-height: 70px;
}

button:disabled {
  background-color: rgb(128, 128, 128, 0.5);
}

.calculator {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px black solid;
  background-color: rgb(128, 128, 128);
  padding: 20px;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  font-size: 30px;
  font-weight: bold;
  border: 1px black solid;
  background-color: rgba(56, 56, 56, 0.5);
  padding: 10px;
  min-height: 80px;
}

.subDisplay {
  font-size: smaller;
  margin: 0;
  color: rgb(0, 0, 0, 0.4);
}

.mainDisplay {
  font-size: larger;
  margin: 0;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  display: flex;
  gap: 10px;
}
